@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: rgb(0, 70, 133);
    --bg: rgb(0, 70, 133);
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}


.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}



.btn a:hover {
    color: white;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .social {
    padding: 1rem 0;
}

.header .social a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.header .social a:hover {
    background-color: var(--main-color);
}

#lesequipes-btn {
    display: none;
}



/*accueil starts */

.accueil {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accueil .content {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accueil .content h3 {
    font-size: 7rem;
    text-transform: uppercase;
    color: #fff;
}

.accueil .content p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* accueil ends */

/* resultats starts */
.resultats {
    min-height: 100vh;
    margin: 10%;
    background-image: url('images/usvvierge.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px 0;
    overflow: hidden;
}

.containerresultats {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.containerresultats h2 {
    text-align: center;
    font-size: 3rem;

    margin-bottom: 20px;
}

.containerresultats table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

.containerresultats table,
th,
td {
    font-size: 2rem;

    border: 1px solid #fff;
    border-collapse: collapse;
}

.containerresultats th,
td {
    padding: 3px;
    text-align: center;
}

.containerresultats th {
    background-color: rgba(0, 0, 0, 0.5);
}

.containerresultats img {
    max-width: 50px;
    height: auto;
}

/* resultats ends */
/*le club starts */
/*
.leclub {
    min-height: 100vh;
}

.leclub .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leclub .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.leclub .row .image {
    flex: 1 1 45rem;
}

.leclub .row .image img {
    width: 100%;
}

.leclub .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.leclub .row .content h3 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.leclub .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
*/

/* les equipes starts */

.lesequipes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    gap: 1.5rem;
}

.lesequipes .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.lesequipes .box-container .box img {
    height: 30rem;
    justify-content: center;
}

.lesequipes .box-container .box img:hover {
    height: 40rem;
    align-self: center;
}

.lesequipes .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.lesequipes .box-container .box .division {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.lesequipes .box-container .box .division span {

    font-size: 1.5rem;
    font-weight: bold;
}

.lesequipes .box-container .box:hover {
    background: #fff;
    color: var(--black);
}

.lesequipes .box-container .box:hover>* {
    color: var(--black);
}

/* les equipes ends */

/* agenda starts */

.agenda .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agenda .box-container .box {
    text-align: center;
    border: var(--border);
    margin: 2rem;
}

.custom-padding {
    padding: 10px;
    /* Ajoute 10 pixels d'espacement autour de l'élément h3 avec la classe .custom-padding */
}

.agenda .box-container .box .icons a:hover {
    background: var(--main-color);
}

.agenda .box-container .box .image {
    padding: 2.5rem 0;
}

.agenda .box-container .box .image img {
    height: 70rem;
}

.agenda .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.agenda .box-container .box .content .division {
    color: #fff;
    font-size: 2.5rem;
}

.agenda .box-container .box .content .division span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #d3ad7f;
}

/* agenda ends */

/* partenaires starts */

.container-partenaires {
    min-height: 100vh;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

/* Style des div contenant les logos */
.logopart {
    width: 15rem;
    /* Vous pouvez ajuster la largeur en fonction de vos besoins */
    padding: 5px;
}

/* Style des images (logos) pour les rendre entièrement responsives */
.logopart img {
    max-width: 100%;
    height: auto;
}

/* partenaires ends */

/* contact starts */

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact .row h2 {
    color: white;
    text-align: center;
    padding: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.leoadresse .email a {
    font-size: 2rem;
    color: white;
}

#leo {
    width: 50%;
    height: 400px;
}

#maillettes {
    width: 50%;
    height: 400px;
}

/* contact ends */

textarea {
    width: 100%;
    font-size: 1.6rem;
}

#leo {
    width: 50%;
    height: 400px;
}

#maillettes {
    width: 50%;
    height: 400px;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .social {
    padding: 1rem 0;
}

.footer .social a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .social a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}



@media (width < 600px) {
    html {
        font-size: 50%;
        margin: 0;
    }

    .logopart {
        width: 8rem;
        padding: 5px;
    }

    .lesequipes .box-container .box .imgequipes {
        height: 20rem;
        justify-content: center;
    }

    .lesequipes .box-container .box .imgequipes:hover {
        height: 20rem;
        align-self: center;
    }

    .agenda .box-container .box .content .image img {
        width: 90%;
        height: auto;
    }

    .agenda .box-container .box .content h3 {
        color: #fff;
        font-size: 2.5rem;
    }

    .agenda .box-container .box .content .division {
        color: #fff;
        font-size: 2.5rem;
    }

    .agenda .box-container .box .content .division span {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: 1.5rem;
    }
}

/* media queries */

@media (max-width:1200px) {
    .header .navbar a {
        font-size: 1rem;
        width: 100%;
    }

    .img-responsive {
        max-width: 80%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width:1212px) {
    .accueil .content {
        display: none;
    }

    .accueil .background img {
        width: 100vw;
        margin-top: 10rem;
    }

    .header .navbar a {
        font-size: 1rem;
        padding: .25rem;
    }

    .header .navbar {
        width: 100vw;
    }

    .header .social a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        border: var(--border);
        margin: .3rem;
        border-radius: 50%;
    }

    .header .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .social a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        border: var(--border);
        margin: .3rem;
        border-radius: 50%;
    }

    .header .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1300px) {
    .header .navbar a {
        font-size: 1.2rem;
        padding: .5rem;
    }
}

@media (max-width:1340px) {
    .background {
        width: 50%;
    }

    .accueil .content h3 {
        font-size: 2rem;
        text-align: center;
    }

    .accueil .content p {
        font-size: 1rem;
    }

}

@media (max-width:1550px) {
    .lesequipes .box-container .box img {
        height: 30rem;
    }

    .lesequipes .box-container .box img:hover {
        height: 35rem;
    }
}

@media (max-width:1430px) {
    .lesequipes .box-container .box img {
        height: 25rem;
    }

    .lesequipes .box-container .box img:hover {
        height: 30rem;
    }

    .lesequipes .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        gap: 1.5rem;
    }

}

@media (max-width:1150px) {
    .navbar a {
        font-size: 2rem;
        padding: .25rem;
    }

    .header .navbar {
        width: 100vw;
    }

    .header .social a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        border: var(--border);
        margin: .3rem;
        border-radius: 50%;
    }

    .header .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .social a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        border: var(--border);
        margin: .3rem;
        border-radius: 50%;
    }

    .header .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:770px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }


    .accueil {
        background-position: left;
        justify-content: space-evenly;
        text-align: center;
    }

    .accueil .content h3 {
        font-size: 4.5rem;
    }

    .accueil .content p {
        font-size: 1.5rem;
    }



}

@media (max-width:1575px) {
    .accueil .content h3 {
        font-size: 4.5rem;
    }

    .accueil .content p {
        font-size: 2rem;
    }

}

/* mobile phones */

@media (max-width:410px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #ac1f1f;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .accueil {
        background-position: left;
        justify-content: space-evenly;
        text-align: center;
    }

    .accueil .background img {
        width: 60rem;
    }



    .accueil .content h3 {
        display: none;
    }

    .accueil .content p {
        display: none;
    }

    .resultats {
        margin: 10px;
        max-height: 100vh;
    }

    .resultats .heading {
        font-size: 2rem;
    }

    .containerresultats td {
        font-size: .7rem;
    }

    .containerresultats td img {
        width: 10px;
    }

    .lesequipes .heading {
        font-size: 3rem;
        padding: 15px;
    }

    .agenda .heading {
        font-size: 2rem;
    }

    .agenda .box-container .box .content h3 {
        color: #fff;
        font-size: 1.5rem;
    }

    .partenaires .heading {
        font-size: 2rem;
        padding: 15px;
    }




    .contact .heading {
        font-size: 2rem;
        padding: 15px;
    }

    #leo {
        width: 70%;
        height: 300px;
    }

    #maillettes {
        width: 70%;
        height: 300px;
    }

    .header .navbar a {
        margin: 0;
        font-size: 1rem;
        color: #d3ad7f;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        text-align: center;
        background: #fff;
        width: auto;
        height: auto;
    }

    .footer .links {
        display: none;
    }

    .footer .credit {
        font-size: .75rem;
        color: #fff;
        font-weight: lighter;
        padding: 1.5rem;
    }






}


@media (max-width:850px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .accueil {
        background-position: left;
        justify-content: space-evenly;
        text-align: center;
    }

    .accueil .content h3 {
        display: none;
    }

    .accueil .content p {
        display: none;
    }

    .resultats {
        margin: 10px;
        max-height: 100vh;
    }

    .resultats .heading {
        font-size: 2rem;
    }

    .containerresultats td {
        font-size: .7rem;
    }

    .containerresultats td img {
        width: 10px;
    }

    .lesequipes .heading {
        font-size: 3rem;
        padding: 15px;
    }

    .agenda .heading {
        font-size: 2rem;
    }

    .agenda .box-container .box .content h3 {
        color: #fff;
        font-size: 1.5rem;
    }

    .partenaires .heading {
        font-size: 2rem;
        padding: 15px;
    }

    .logopart {
        width: 5rem;
    }

    .contact .heading {
        font-size: 2rem;
        padding: 15px;
    }

    #leo {
        width: 70%;
        height: 300px;
    }

    #maillettes {
        width: 70%;
        height: 300px;
    }

    .header .navbar a {
        margin: 0;
        font-size: 1rem;
        color: #d3ad7f;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        text-align: center;
        background: #fff;
        width: auto;
        height: auto;
    }

    .footer .links {
        display: none;
    }

    .footer .credit {
        font-size: .75rem;
        color: #fff;
        font-weight: lighter;
        padding: 1.5rem;
    }

    .logopart {
        width: 7rem;
        /* Vous pouvez ajuster la largeur en fonction de vos besoins */
        padding: 5px;
    }

    /* Style des images (logos) pour les rendre entièrement responsives */
    .logopart img {
        max-width: 100%;
        height: auto;
    }

}

/* ipad mini */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
