@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --main-color: #d3ad7f;
  --black: rgb(0, 70, 133);
  --bg: rgb(0, 70, 133);
  --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}


.heading {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}



.btn:hover {
  letter-spacing: .2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .social {
  padding: 1rem 0;
}

.header .social a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  border: var(--border);
  margin: .3rem;
  border-radius: 50%;
}

.header .social a:hover {
  background-color: var(--main-color);
}






/* Start accueil U12 */

.content {
  min-height: 90vh;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.left img {
  width: 40%;
  height: 50%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.team-info {
  font-size: 4rem;
  text-align: center;
  color: #d3ad7f;
  padding: 2rem;
}

.coach-name {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
  color: white;
}

/* end accueil U12 */

/* start calendrier */


.calendrier {
  min-height: 100vh;
  margin: 20%;
  background-image: url('images/USV-vierge.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 40px 0;
  overflow: hidden;
}

.containercalendrier {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.containercalendrier h2 {
  text-align: center;
  font-size: 3rem;

  margin-bottom: 20px;
}

.containercalendrier table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.E1 {
  width: 40%;
  text-align: right;
  padding-right: 5%;

}

.E2 {
  width: 40%;
  text-align: left;
  padding-left: 5%;
}

.LOGOE {
  height: 30%;
}

.LOGOE img {
  width:30% ;
}

.SCORE {
  width: 10%;
}

.DATE {
  width: 30%;
}

/* Set the width to 50% to make them equal */


.containercalendrier table,
th,
td {
  font-size: 2rem;

  border: 1px solid #fff;
  border-collapse: collapse;
}

.containercalendrier th,
td {
  padding: 3px;
  text-align: center;
}

.containercalendrier th {
  background-color: rgba(0, 0, 0, 0.5);
}

.containercalendrier img {
  max-width: 50px;
  height: auto;
}

/* calendrier ends */

/* classement starts */

.eqp {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nomeqp {
  flex-grow: 1;
  text-align: left;
}

.calcomplet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-size: 3rem;
}

.calcomplet a {
  color: #d3ad7f;
}

.calcomplet :hover {
  color: white;
}


.classement {
  min-height: 100vh;
  margin: 20%;
  background-image: url('images/USV-vierge.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 40px 0;
  overflow: hidden;
}

.containerclassement {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.containerclassement h2 {
  text-align: center;
  font-size: 3rem;

  margin-bottom: 20px;
}

.containerclassement table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.E1 {
  width: 20%;
  text-align: right;
  padding-right: 5%;

}

.E2 {
  width: 20%;
  text-align: left;
  padding-left: 5%;
}



.SCORE {
  width: 10%;
}

.DATE {
  width: 20%;
}

.containerclassement table,
th,
td {
  font-size: 2rem;

  border: 1px solid #fff;
  border-collapse: collapse;
}

.containerclassement th,
td {
  padding: 3px;
  text-align: center;
}

.containerclassement th {
  background-color: rgba(0, 0, 0, 0.5);
}

.containerclassement img {
  max-width: 50px;
  height: auto;
}

.PLACE {
  width: 15%;
}

.EQUIPES {
  display: flex;
  width: 40%;
  text-align: left;
  align-items: center;
  justify-content: space-evenly;
}

.POINTS {
  width: 7%;
}

.GAGNE {
  width: 7%;
}

.JOUES {
  width: 7%;
}

.NUL {
  width: 7%;
}

.PERDU {
  width: 7%;
}


/*classement ends */

/* footer starts */

.footer {
  background: var(--black);
  text-align: center;
}

.footer .social {
  padding: 1rem 0;
}

.footer .social a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: .3rem;
  border-radius: 50%;
}

.footer .social a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: .7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

/* footer ends */
/* media queries */

/* max 1380px */
/*
@media (max-width:1370px) {

  .header .navbar a {
    font-size: 1.2rem;
    margin: 10px;
  }

  .LOGOE img {
    width: 20px;
  }

  .E1,
  .E2,
  .DATE,
  .SCORE,
  .calcomplet {
    font-size: 1.2rem;
  }
}

@media (max-width:1150px) {

  .header .navbar a {
    font-size: 1.2rem;
    margin: 10px;
  }
}

*/
@media screen and (max-width: 480px) {

  /* header */

  html {
    font-size: 50%;
  }

  #menu-btn {
    display: inline-block;
  }

  .header {
    width: 100vw;
  }

  .header .logo {
    height: auto;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }

  .content {
    padding-top: 12rem;
    height: 50%;
    margin: 0;
    display: inline-block;
  }

  .team-info {
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
  }

  .right img {
    width: 60%;
  }

  .coach-name {
    font-size: 2rem;
    padding: 0;
  }

  /* header */

  .accueilu12 {
    width: 100vw;
    background-position: left;
    justify-content: space-evenly;
    text-align: center;
  }

  .eqp {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .nomeqp {
    flex-grow: 1;
    text-align: left;
  }

  .calcomplet {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
  }

  .calcomplet a {
    color: #d3ad7f;
  }

  .calcomplet :hover {
    color: white;
  }

  .calendrierresultats .heading {
    font-size: 1rem;
  }

  .calendrier {
    max-height: 100vh;
    background-image: url('images/USV-vierge.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
  }


  .calendrierresultats {
    padding-top: 0;
  }


  .calendrier .heading {
    padding-bottom: 0;
  }

  .E1,
  .E2,
  .DATE,
  .SCORE,
  .PLACE,
  .eqp,
  .POINTS,
  .JOUES,
  .GAGNE,
  .NUL,
  .PERDU,
  .BP,
  .BC,
  .DIF {
    font-size: .5rem;
    text-align: center;
  }

  .eqp img {
    width: 70%;
  }

  .calendrier {
    display: block;
    height: 100px;
    background-size: 100vw;
  }

  .calendrier .heading {
    font-size: 2rem;
    margin: 0;
  }

  .containercalendrier {
    padding: 0;
  }

}
